body {
  margin: 0;
  background-color: #21252b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #abb2bf;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body a {
  text-decoration: none;
  color: #abb2bf;
}

body .button {
  color: #3fc56b;
  padding: 10px 15px;
  border: #3fc56b 1px solid;
  border-radius: 8px;
}

body .button:not(.disabled):hover {
  background-color: #3fc56b;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
  color: #fff;
}

body .button.disabled {
  color: #abb2bf;
  border-color: #abb2bf;
  opacity: 20%;
}

body .header {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(15px, 5%) auto minmax(15px, 5%);
      grid-template-columns: minmax(15px, 5%) auto minmax(15px, 5%);
}

body .header-inner {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

body .content {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(15px, 5%) auto minmax(15px, 5%);
      grid-template-columns: minmax(15px, 5%) auto minmax(15px, 5%);
}

body .content-inner {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  position: relative;
}

body .content-inner .start-buttons {
  position: absolute;
  top: 5vh;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .content-inner .game {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10vw)[3];
      grid-template-columns: repeat(3, 10vw);
  -ms-grid-rows: (10vw)[3];
      grid-template-rows: repeat(3, 10vw);
  position: relative;
}

body .content-inner .game .field {
  border: #abb2bf solid 2px;
  width: 100%;
  height: 100%;
}

body .content-inner .game .field:hover {
  background-color: #2e3238;
}

body .content-inner .game .field:nth-child(1) {
  border-left: none;
  border-top: none;
}

body .content-inner .game .field:nth-child(3) {
  border-right: none;
  border-top: none;
}

body .content-inner .game .field:nth-child(7) {
  border-left: none;
  border-bottom: none;
}

body .content-inner .game .field:nth-child(9) {
  border-right: none;
  border-bottom: none;
}

body .content-inner .game .field:nth-child(2) {
  border-top: none;
}

body .content-inner .game .field:nth-child(4) {
  border-left: none;
}

body .content-inner .game .field:nth-child(6) {
  border-right: none;
}

body .content-inner .game .field:nth-child(8) {
  border-bottom: none;
}
